.car-item{
    transition: 0.5s;
    padding: 15px;
    font-size: 25px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.5);
    border-radius: 15px;
}

.car-item:hover{
    transition: 0.5s;
    transform: translateY(-5px);
    cursor: pointer;
}